html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.top-section {
    text-align: left;
    height: 200px;
    background-size: cover;
    background-position: top;
    padding: 20vh 0;
    z-index: 1;
    position: relative;
    margin: 20px 20px 0 0;
}

.top-section-index {
    background-image: url(sunrise.jpg);
}

.line {
    width: 30px;
    height: 3px;
    background-color: aliceblue;
    margin: 6px 0;
}

h1 {
    color: white;
    position: absolute;
    padding: 40px;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 30px;
}

h2 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-top: 0;
}

.nimi {
    font-family: serif;
    color: grey;
    font-size: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text-right {
    flex: 1;
    padding: 20px;
    text-align: justify;
}

.left-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

p {
    font-size: 17px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.musta-kuva {
    text-align: center;
}

.round-pictures {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-direction: column;
}

.round-pictures img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    margin: 0 5px;
    border-radius: 50%;
}

.box {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin-top: 20px;
    background-color: hsl(196, 69%, 48%);
    align-items: center;
    margin: 20px auto 0;
}

.box .left2 {
    flex: 2;
    padding: 20px;
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.bar4, .bar5, .bar6 {
    background-color: black;
}

.change .bar4 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar5 {
    opacity: 0;
}

.change .bar6 {
    transform: translate(0, -11px) rotate(45deg);
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2% 5% 0;
}

.menu-subs, .menu-column-4 {
    display: none;
    margin-top: 20px;
}

.change .menu-subs, .change .menu-column-4 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5% 5% 0;
}

.menu-link {
    color: #faf2f2;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.box .image-right {
    flex: 1;
    padding-left: 40px;
}

.box .image-right img {
    width: 350px;
    height: 350px;
}

.left2 p {
    line-height: 1.5;
    max-width: 100%;
}

h3 {
    color: aliceblue;
    font-size: 30px;
}

.box-right {
    background-color: hsl(196, 69%, 48%);
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    margin: 0;
}

.box-right .image-left {
    flex: 1;
    padding: 20px;
}

.box-right .image-left img {
    width: 100%;
    max-width: 350px;
    height: 350px;
}

.box-right .right2 {
    flex: 2;
    padding: 20px;
    text-align: justify;
}

.quote p {
    font-size: 35px;
    padding: 30px;
}

footer {
    background-color: whitesmoke;
    padding: 20px;
}

.footerh1 p {
    font-size: 25px;
}

footer p {
    font-size: 13px;
}

.three-surfers {
    padding: 20px;
    max-width: 100%;
    height: auto;
    padding-top: 50px;
}

.grid {
    display: grid;
    place-items: center;
    height: 100%;
}

.top-section-lessons {
    background-image: none;
}

.menu-link-lessons {
    color: black;
    text-decoration: none;
}

.h1-lessons h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
}

.menu-subs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-content {
    text-align: center;
    padding: 20px;
}

.contact-content h5 {
    font-size: 30px;
}

.contact-content h6 {
    font-size: 15px;
}

.gallerytext {
    text-align: center;
    font-size: 30px;
}

.surfvan2 {
    height: 500px;
    float: left;
    padding: 20px 20px 0 80px;
}

.surfer {
    float: right;
    height: 400px;
    padding: 20px 80px 0 20px;
}

.koira {
    height: 500px;
    float: left;
    padding: 20px 20px 0 80px;
}

@media (min-width: 600px) {
    .top-section-index {
        height: 100px;
    }
    .content {
        flex-direction: row;
    }
    .round-pictures {
        flex-direction: row;
    }
    .round-pictures img {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .box, .box-right {
        flex-direction: row;
    }
    .quote p {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .top-section-index {
        height: 200px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    .quote p {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .round-pictures {
        align-items: center;
    }
    .top-section-index {
        height: 20px;
    }
    .box, .box-right {
        flex-direction: column;
    }
    .box .image-right, .box-right .image-left {
        margin-bottom: 20px;
    }
    br {
        display: none;
    }
}

@media (max-width: 600px) {
    .surfvan2, .surfer, .koira {
        float: none;
        padding: 20px;
    }
    br {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .surfvan2, .surfer, .koira {
        height: auto;
        float: none;
        text-align: center;
    }
}
